.LoginPageHolder{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
}

.quoteDiv{
    background-color: #F8ECD1;
    position: relative;
}
.border{
    border-left:2px solid rgba(0,0,0,0.3);
}

.tabSwitch{
    background-color: #FDD9CF;
    display:flex;
    font-size:25px;
    width:350px;
    padding:20px;
    border-radius: 10px;
    color:#AC7D88;
    justify-content: space-evenly;
}

.switch{
    cursor: pointer;
}

.selectedTab{
    color:#944E63;
    font-weight: 700;
}

.EndCredsList{
    display: flex;
    justify-content: space-evenly;
}

.InputLabel{
    font-size:25px;
    font-weight: 500;
}

.InputBox{
    width:600px;
    height:50px;
    border:1px solid #944E63;
    outline: none !important;
    padding-left:10px;
    font-size:21px;
    font-family: 'Rethink Sans',sans-serif;
    border-radius: 10px;
}

.resetPasswordHolder{
    display: flex;
    justify-content: end;
}

.resetPassword{
    margin-top:30px;
    margin-bottom:50px;
    font-size:20px;
    font-weight: 550;
    color:rgba(0,0,0,0.6);
    cursor: pointer;
}

.resetPassword:hover{
    color:black;
}

.primaryBtn{
    padding:10px;
    width:200px;
    font-size:25px;
    font-family: 'Rethink Sans',sans-serif;
    border: none;
    background-color:#7469B6;
    color:#FFE6E6;
    border-radius: 10px;  
    cursor: pointer;
    transition: all ease-in 300ms;
}

.primaryBtn:hover{
    background-color: #FFE6E6;
    color:#7469B6;
}

.PrimaryBtnHolder{
    display: flex;
    justify-content: center;
}
.Spacer{
    margin-bottom: 90px;
}

.listItem{
    cursor:pointer;
    font-size:19px;
    transition: all ease-out 300ms;
}

.listItem:hover{
    color:#944E63;
    font-weight: 550;
    transition: all ease-out 300ms;
}
.LoginTab{
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:100px;
    margin-right: 100px;
}

.TabView{
    display: flex;
    justify-content: center;
    margin-bottom:90px;
}

.eye{
    position: absolute;
    bottom:7px;
    right: 18px;
}

.eyeS{
    width:30px;
    height:30px;;
}

.passwordInput{
    position: relative;
}

.quoteContent{
    font-size:100px;
    color: #85586F;
    margin-top:50px;
    font-weight: 600;
    margin-left:50px;
}

.quotePic{
    position: absolute;
    bottom: 0;
    right: 0;
    
}

.interestsTitle{
    display: flex;
    justify-content: space-between;
}

.InterestsHolder{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.MainTitle{
    font-size:50px;
    color:#F29727;
    font-weight: 700;
}

.TitleCap{
    font-size:25px;
    font-weight: 550;
}

.nextBtn{
    font-size:30px;
    color:#DEB6AB;
    font-weight: 600;
    cursor: pointer;
}

.nextBtn:hover{
    color:#944E63;
}

.FirstRow, .SecondRow, .ThirdRow,.FourthRow{
    display: flex;
    justify-content: space-evenly;
    margin-top:50px;
}

.ChipItem{
    color:#1A936F;
    border:3px solid #1A936F;
    border-radius: 10px;
    padding:10px 60px 10px 60px;
    cursor: pointer;
    font-size:25px;
    font-weight: 550;
    margin-right:50px;
}

.EndImage{
    position: absolute;
    bottom: 0;
    right: 0;
}

.ChipItem:hover{
    background-color: #1A936F;
    color: #FFE6E6;
}

.chipSelected{
    background-color: #1A936F;
    color: #FFE6E6;
}

.NavItem{
    display: flex;
    align-items: center;
    font-size:40px;
    color:#DEB6AB;
    font-weight: 600;
    margin-top:50px;
}

.NavItem:hover{
    color:#944E63;
    cursor: pointer;
}

.NavItemSelected{
    color: #944E63;
}

.NavBarHolder{
    position: fixed;
}


.HomePageHolder{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 100vh;
}

.HomePageGrid{
    display: flex;
    justify-content: center;
}

.writingDecoy{
    border:1px solid #DEB6AB;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-size:20px;
    color:#944E63;  
    font-weight: 600;
    justify-content: space-between;
    margin-top:50px;
    cursor: pointer;
}

.contentBox{
    width:970px;
    height: 700px;
    resize: none;
    outline: none;
    background-color: #FEFBF4;
    font-family: 'Rethink Sans',sans-serif;
    border:1px solid #944E63;
    border-radius: 10px;
    font-size: 25px;
    padding-left:16px;    
    padding-top:20px;
    padding-bottom:50px;
}
.contentBox::placeholder{
    color:#AC7D88;
}

.WriteHolder{
    display:flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.titleBox{
    outline: none;
    border:1px solid #944E63;
    padding:20px;
    width:950px;
    font-family: 'Rethink Sans',sans-serif;
    border-radius: 10px;
    background-color: #FEFBF4;
    color:#944E63;
    font-size:28px;
    margin-bottom: 50px;
}

.titleBox::placeholder{
    color: #AC7D88;
}

.SpacerTwo{
    margin-top: 4n0px;;
}

.SearchBox{
    position: relative;
}

.searchBox{
    width:100%;
    padding:20px;
    font-size:22px;
    background-color: #FEFBF4;
    border:1px solid #944E63;
    border-radius: 10px;
    font-family: 'Rethink Sans',sans-serif;
    outline: none !important;
    font-weight: 550;
}
.searchIcon{
    position: absolute;
    top:22px;
    right: 0;
    font-size:22px;
    color:#944E63;
}

.searchBox::placeholder{
    color:#944E63;
}

.SearchPageHolder{
    margin-top:50px
}

.WriteCardHolder{
    width: 100%;
    margin-top:50px;
}

.WriteCardHead{
    display: flex;
    align-items: center;
}


.WriteCardProfile > img{
    background-color: #1A936F;
    border-radius: 50%;
}

.CardUserName{
    font-size:30px;
    font-weight: 650;
    margin-bottom: 0;
}

.CardUserAbout{
    font-size:19px;
    margin-top: 5px;
    color:rgba(0,0,0,0.6);
}

.CardTitle{
    font-size:35px;
    font-weight: 650;
    color:#944E63;
    margin-bottom: 0;
}

.CardPromo{
    font-size:20px;
    line-height: 1.7;
    font-weight: 550;
}


.Divider{
    border-bottom: 1px solid #DEB6AB;
    width: 100%;
}

.WriteCardHeadContent{
    margin-left:15px;
}

.WriteCardHead{
    cursor: pointer;
}

.WriteCardBody{
    cursor: pointer;
}
.SearchComponentHolder{
    display: flex;
    justify-content: space-between;
    margin-top:30px;
}

.SearchComponentTitle{
    font-size:28px;
    font-weight: 650;
    margin-bottom: 10px;
}

.SearchComponentCap{
    font-size:20px;
    margin-top:0;
}

.ProfileCard{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 10px;

}

.ProfileHolder{
    margin-top:50px;
}

.ProfileHolderTitle{
    font-size:45px;
    font-weight: 550;
}

.ProfileHolderCap{
    font-size:22px;
    font-weight: 550;
    margin-top:8px;
    color:rgba(0,0,0,0.6);
}

.TextButton{
    text-align: end;
    position:absolute;
    right:20px; 
    color:#944E63;
    font-size: 23px;
    font-weight: 650;
    cursor: pointer;
}

.ProfileWritings{
    display: flex;
    width: 100%;
    position: relative;
}

.ProfileWritingsTitle{
    font-size:35px;
    font-weight: 650;
}


.progress{
    position: absolute !important;
    top:0;
    width: 100%;
    background:none !important;
}